*{
    margin:0px;
    padding:0px;
}

.wrapper{
    font-family:Arial Black;
    background-image:url(../assets/room_not_color.png);
    /*height:100vh;*/
    background-size:cover;
    /*background-repeat:no-repeat;*/
}

.left{
    width:400px;
    height:100vh;
    text-align:center;
    background-color:#FCF9EF;
}

.title{
    font-size:44px;
    margin-bottom:0px;
    padding-top:44vh;
    padding-bottom:0px;
}

.subtitle{
    font-size:24px;
}

.subtitle span{
    border-bottom:solid 2.5px #6f5a1f;
    padding-bottom:10px;
}

.uploadButton{
    height:95px;
    cursor:pointer;
    padding:25px;
}

