body{
    float:left;
    background-color:#FCF9EF;
    font-family:Arial Black;
}

@media all and (min-width:500px){
    .wrapper{
	display:flex;
    }
}

.left{
    width:350px;
    height:100vh;
    text-align:center;
    /*display:table;*/
}

.title{
    font-size:36px;
    margin:10px 0px;
    pedding:0px;
    /*display:table-cell;
    vertical-align:middle;*/
}

.subtitle{
    font-size:20px;
    margin:10px 0px;
    pedding:0px;
}

.room_img{
    float:right;
    /*width:100%;*/
    height:100vh;
}

.uploadButton{
    height:60px;
    cursor:pointer;
}


